img{
    margin-top: 150px;
    margin-left: 150px;
    width: 250px;
    height: 250px;
}
.rootmax:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  } 