*{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 250px;
}
.container_next {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 100px;
}
.less2 {
    align-self: stretch;
    background-color: darkblue;
    margin: 5px;
    width: 80px;
}
.block1, .block3 {
    background-color: darkblue;
    margin: 5px;
    height: 80px;
    width: 80px;
}
.block4, .block5, .block6 {
    background-color: darkblue;
    margin: 5px;
    height: 80px;
    width: 80px;
}

